<h1>Tweets#index</h1>

<%= @tweets.each do |e| %>
    <p>
        <li>
            <%= e.message %>
            <%=link_to '削除', "/tweets/#{e.id}" , data: { turbo_method: :delete } %>
        </li>
    </p>
<% end %>

<br>
<% if session[:login_uid] != nil %>
    <%= link_to "ツイートをする" ,tweets_new_path %>
<% else %>
    <% nil %>
<% end %>
<br>
<%= link_to "ログイン" ,top_main_path %>
<br>
<%= link_to "ユーザー一覧" ,users_index_path %>