<h1>ユーザー一覧</h1>

<!--ここにユーザーの一覧を表示するらしい-->
<!--データベースのデータの表示は、Tweetのバージョンでは下のようになっている(要改善)-->

<%= @users.each do |e| %>
    <p>
        <li>
            <%= e.uid %>
            <%=link_to '削除', "/users/#{e.id}" , data: { turbo_method: :delete } %>
        </li>
    </p>
<% end %>

<br>
<%= link_to "新規登録" ,users_new_path %>
<br>
<%= link_to "トップに戻る" ,root_path %>
